<div class="main">
  <section class="sign-in">
    <div class="container_register_login">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="assets/img/signin-image.jpg" alt="sing up image"></figure>
                <a [routerLink]="['/register']" class="signup-image-link">
                  No account? Sign up now!</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title" style="font-family: Arial, Helvetica, sans-serif;">Sign In</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                    </div>
                </form>
                <div class="social-login">
                    <ul class="socials">
                        <li><i class="display-flex-center zmdi zmdi-facebook" style="padding: 5px 10px;border-radius: 10%;color: #fff;"></i></li>
                        <li><i class="display-flex-center zmdi zmdi-twitter" style="padding: 5px 10px;border-radius: 10%;color: #fff;"></i></li>
                        <li><i class="display-flex-center zmdi zmdi-google" style="padding: 5px 10px;border-radius: 10%;color: #fff;"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

