
   <!-- ##### Breadcrumb Area Start ##### -->
   <div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(assets/img/bg-img/24.jpg);">
        <h2>ABOUT US</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="about-us-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h2>ABOUT US</h2>
                    <p>We are at the forefront of the plant service industry.</p>
                </div>
                <p style=" text-align: justify;">Welcome to AKT4 - a leading enterprise in the field of landscaping services and green space design. We are dedicated to bringing freshness and creativity to every space, seamlessly integrating nature into everyday life.</p><br>
                <p style=" text-align: justify;">At AKT4, we redefine landscapes with innovative designs and impeccable service. Our commitment to enhancing environments through greenery ensures a harmonious blend of nature and modern living.</p> <br>
                <p style=" text-align: justify;">AKT4 stands at the forefront, offering unparalleled landscaping and green space design solutions. With a passion for innovation, we transform spaces into vibrant havens, bridging the gap between nature and urban living.</p>
            </div>

            <div class="col-12 col-lg-6">
                <div class="alazea-benefits-area">
                    <div class="row">
                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="assets/img/core-img/b1.png" alt="">
                                <h5>Quality Products</h5>
                                <p style=" text-align: justify;">Quality Products: Our commitment to excellence. Trusted, reliable, and superior in every aspect.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="assets/img/core-img/b2.png" alt="">
                                <h5>Perfect Service</h5>
                                <p style=" text-align: justify;">Perfect Service: Exemplary solutions tailored to your needs. Exceptional satisfaction guaranteed.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="assets/img/core-img/b3.png" alt="">
                                <h5>100% Natural</h5>
                                <p style=" text-align: justify;">100% Natural: Pure authenticity, untainted by artificial elements. Embrace nature's true essence.</p>
                            </div>
                        </div>

                        <!-- Single Benefits Area -->
                        <div class="col-12 col-sm-6">
                            <div class="single-benefits-area">
                                <img src="assets/img/core-img/b4.png" alt="">
                                <h5>Environmentally friendly</h5>
                                <p style=" text-align: justify;">Environmentally Friendly: Committed to sustainability, minimizing impact on nature. Green solutions for a better planet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->

<section class="our-services-area bg-gray section-padding-100-0">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <!-- Section Heading -->
              <div class="section-heading text-center">
                  <h2>OUR SERVICES</h2>
                  <p>Our services cater to your needs, offering an ideal solution for you.</p>
              </div>
          </div>
      </div>

      <div class="row justify-content-between">
          <div class="col-12 col-lg-5">
              <div class="alazea-service-area mb-100">

                  <!-- Single Service Area -->
                  <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                      <!-- Icon -->
                      <div class="service-icon mr-30">
                          <img src="assets/img/core-img/s1.png" alt="">
                      </div>
                      <!-- Content -->
                      <div class="service-content">
                          <h5>Plants Care</h5>
                          <p>Within Aenean, where excellence prevails, we offer top-tier service and unmatched satisfaction.</p>
                      </div>
                  </div>

                  <!-- Single Service Area -->
                  <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                      <!-- Icon -->
                      <div class="service-icon mr-30">
                          <img src="assets/img/core-img/s2.png" alt="">
                      </div>
                      <!-- Content -->
                      <div class="service-content">
                          <h5>Pressure Washing</h5>
                          <p>With AKT4, we deliver impeccable service, ensuring your utmost satisfaction.</p>
                      </div>
                  </div>

                  <!-- Single Service Area -->
                  <div class="single-service-area d-flex align-items-center wow fadeInUp" data-wow-delay="500ms">
                      <!-- Icon -->
                      <div class="service-icon mr-30">
                          <img src="assets/img/core-img/s3.png" alt="">
                      </div>
                      <!-- Content -->
                      <div class="service-content">
                          <h5>Tree Service &amp; Trimming</h5>
                          <p>Amidst AKT4 purity, our exceptional services exceed expectations, setting a new standard.</p>
                      </div>
                  </div>

              </div>
          </div>

          <div class="col-12 col-lg-6">
              <div class="alazea-video-area bg-overlay mb-100">
                  <img src="assets/img/bg-img/23.jpg" alt="">
                  <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="video-icon">
                      <i class="fa fa-play" aria-hidden="true"></i>
                  </a>
              </div>
          </div>
      </div>
  </div>
  </section>>





<!-- ##### Team Area Start ##### -->
<section class="team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>OUR TEAM</h2>
                    <p>A team of dedicated experienced professionals.</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="assets/img/bg-img/team1.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Joseph Corbin</h5>
                        <p>CEO &amp; Founder</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="assets/img/bg-img/team2.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Tasha Deserio</h5>
                        <p>Garden Designer</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="assets/img/bg-img/team3.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Cody Baker</h5>
                        <p>Plan Manager</p>
                    </div>
                </div>
            </div>

            <!-- Single Team Member Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-team-member text-center mb-100">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="assets/img/bg-img/team4.png" alt="">
                        <!-- Social Info -->
                        <div class="team-member-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info mt-30">
                        <h5>Pearl Kansas</h5>
                        <p>Marketer</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Team Area End ##### -->
